.ControlView {
    padding: 1rem 1rem 1rem 3rem;
    height: 50px;
  }
  
  .ControlSelect {
    padding-right: 3rem;
  }

  .ControlRadio {
    top:10px;
    padding-right:3rem;
  }

  .ControlInput {
    top:30px;
    width : 180px;
  }

  .ControlButton {
    padding-top: 1rem;
  }