.HeaderBackGround {
    background: black;
    padding: 1rem;
  }

.SteelMaking {
  position: absolute;
  left: 50px;
  top: 200px;
}

.CastingCut {
  position: absolute;
  left: 350px;
  top: 200px;
}

.Cutting1st {
  position: absolute;
  left: 650px;
  top: 200px;
}

.Cutting2nd {
  position: absolute;
  left: 950px;
  top: 200px;
}

.Correction {
  position: absolute;
  left: 1250px;
  top: 200px;
}

.Charging {
  position: absolute;
  left: 1580px;
  top: 100px;
}

.Scrap {
  position: absolute;
  left: 1580px;
  top: 300px;
}